
@inject UserManager<Blogy.Entity.Entities.AppUser> UserManager

@{
    Layout = null;

    var currentUser = await UserManager.FindByNameAsync(User.Identity.Name);
    var profileImage = currentUser?.ImageUrl ?? "/images/default.png";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="description" content="Admin dashboard for Blogy project" />
    <meta name="author" content="Emirhan Hacıoğlu" />

    <!-- site icon -->
    <link rel="icon" href="~/pluto-1.0.0/images/fevicon.png" type="image/png" />

    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/custom.css" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a asp-controller="Admin" asp-action="Dashboard">
                                <img class="logo_icon img-responsive" src="~/pluto-1.0.0/images/logo/logo_icon.png" alt="logo" />
                            </a>
                        </div>
                    </div>

                    <!-- USER SIDEBAR INFO -->
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img">
                                <img class="img-responsive rounded-circle" src="@profileImage"
                                     style="height:60px;width:60px;object-fit:cover;" />
                            </div>
                            <div class="user_info">
                                <h6>@currentUser.FirstName @currentUser.LastName</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">

                        <li>
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="active">
                                <i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Blog" asp-action="Index">
                                <i class="fa fa-book blue1_color"></i> <span>Bloglar</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                                <i class="fa fa-list red_color"></i> <span>Kategoriler</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Comment" asp-action="Index">
                                <i class="fa fa-comments yellow_color"></i> <span>Yorumlar</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="About" asp-action="Index">
                                <i class="fa fa-info-circle blue1_color"></i> <span>Hakkımızda</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Role" asp-action="Index">
                                <i class="fa fa-user-shield yellow_color"></i> <span>Rol Atama</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Users" asp-action="Index">
                                <i class="fa fa-users blue1_color"></i> <span>Kullanıcılar</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="Admin" asp-controller="Contact" asp-action="Index">
                                <i class="fa fa-envelope red_color"></i> <span>İletişim</span>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Login" asp-action="Index">
                                <i class="fa fa-sign-out red_color"></i> <span>Çıkış Yap</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Sidebar -->
            <!-- Right Content -->
            <div id="content">

                <!-- Topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="logo_section">
                                <a asp-controller="Admin" asp-action="Dashboard">
                                    <img class="img-responsive" src="~/pluto-1.0.0/images/logo/logo.png" alt="logo" />
                                </a>
                            </div>

                            <div class="right_topbar">
                                <div class="icon_info">                      
                                    <!-- TOPBAR USER -->
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <img class="img-responsive rounded-circle" src="@profileImage"
                                                     style="height:40px;width:40px;object-fit:cover;" />
                                                <span class="name_user">@currentUser.FirstName @currentUser.LastName</span>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-area="Admin" asp-controller="Profile" asp-action="Index">
                                                    My Profile
                                                </a>
                                                <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">
                                                    <span>Log Out</span> <i class="fa fa-sign-out"></i>
                                                </a>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </nav>
                </div>

                <!-- Dashboard Inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>

                    <div class="container-fluid">
                        <div class="footer">
                            <p>
                                © @DateTime.Now.Year Blogy Admin Panel |
                                Designed by <a href="https://themewagon.com/">ThemeWagon</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Content -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/pluto-1.0.0/js/jquery.min.js"></script>
    <script src="~/pluto-1.0.0/js/popper.min.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap.min.js"></script>
    <script src="~/pluto-1.0.0/js/animate.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap-select.js"></script>
    <script src="~/pluto-1.0.0/js/owl.carousel.js"></script>
    <script src="~/pluto-1.0.0/js/Chart.min.js"></script>
    <script src="~/pluto-1.0.0/js/Chart.bundle.min.js"></script>
    <script src="~/pluto-1.0.0/js/utils.js"></script>
    <script src="~/pluto-1.0.0/js/analyser.js"></script>
    <script src="~/pluto-1.0.0/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <script src="~/pluto-1.0.0/js/custom.js"></script>
    <script src="~/pluto-1.0.0/js/chart_custom_style1.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
