@using Blogy.Business.DTOs.BlogDtos
@model ResultBlogDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h2>@Model.Title</h2>

<img src="@Model.CoverImage" class="img-fluid mb-3" />

<p>@Model.Description</p>

<hr />

<h3>Yorumlar</h3>

@foreach (var comment in Model.Comments)
{
    <div class="border p-2 mb-2">
        <strong>@comment.User.FullName</strong><br />
        <span>@comment.Content</span>
    </div>
}

<hr />

<h4>Yorum Yaz</h4>

<form method="post" action="/User/Blog/AddComment">
    <input type="hidden" name="BlogId" value="@Model.Id" />

    <textarea name="Content" class="form-control" rows="4"></textarea>
    <br />
    <button class="btn btn-success">Gönder</button>
</form>

